
.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gallery {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    min-height: 300px;
}

.gallery .image {
    position: relative;
    flex: 1;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    transition: flex 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), filter 0.5s ease;
    filter: grayscale(100%);
}

.gallery .image:hover {
    flex: 5;
    filter: grayscale(0%);
}

.gallery .image img {
    height: auto !important;
    width: 100% !important;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}
